
<%= simple_form_for([:admin, @snippet]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%# f.input :slug %>
    <%# f.input :content,  input_html: {class: 'easymde'} %>
    <%= f.marksmith :content, 
      gallery: {
        enabled: true,
        open_path: "/admin/medias/attach",
        turbo_frame: 'tractor-modal-wrap',
        params: {
          resource_name: 'snippet',
          controller_name: "marksmith",
          controller_selector: "[data-unique-selector=snippet_#{@snippet.id}]",
          record_id: @snippet&.to_param,
        }
      },
      controller_data_attributes: {
        unique_selector: "snippet_#{@snippet.id}", # it must coincide with the selector above
      }
    %>
    <p class="hint">You can use <a target="_blank" href="https://www.markdownguide.org/basic-syntax/" >markdown</a> here.</p>
  </div>

  <div class="form-actions">
    <%= f.button :submit , class: 'btn btn-primary' %>
  </div>
<% end %>
