<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.first_name %>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= user.staff %>
  </p>

</div>
