<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Users", admin_users_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Settings</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
    <h2>Settings</h2>    
  </div>
  <div class="card-body">
    <%= simple_form_for(current_user, as: :user, method: :put, url: admin_amend_path) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :time_zone %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>

