<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "marksmith" %>
    <%# <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script> 
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" /> %>
        
     
 
    <%= tractor_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class='admin container-fluid bg-offwhite'>
    <div class="row flex-nowrap">
      <%= render "admin/shared/sidebar" %>
      <div class="main col pt-5">
        <%= render "admin/shared/notices" %>
        <%= yield %>
      </div>
    </div>
    <%# render "admin/shared/mediapicker" %>
    
  </body>




  <!-- Modal -->
  <turbo-frame id="tractor-modal-wrap" data-controller="modal"  data-action="turbo:frame-load->modal#open">
    <div class="modal fade" id="tractor-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              
                Attach Modal
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
  </turbo-frame>  
</html>


